<!DOCTYPE html>
<html>
<head>
    <title>Ir a Google</title>
    <style>
        .google-button {
            background-color: #4285F4; /* Color azul de Google */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <a href="https://www.google.com" class="google-button">Ir a Google</a>
</body>
</html>